# env file
.env

# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/
dist/
build/
.pytest_cache/
.ruff_cache/

# Coverage / profiling
*.out
coverage.*
*.coverprofile

# Editor/IDE
# .idea/
# .vscode/

# OS junk
.DS_Store
